body {
  font-family: 'Raleway', sans-serif;
  line-height: 150%;
  font-size: 1.3em;
}
.container {
  margin: 0.5in;
  padding: 2em 1em;
  border: 0.05em solid darkcyan;
  border-radius: 50px 15px;
}

a {
  text-decoration: none;
}

.article-body > p {
  margin-top: 0.2em;
  margin-bottom: 0;
}
